<footer>

    <div class="f-info">
        <div class="f-info-socials">
            <i class="fab fa-facebook"></i>  
            <i class="fab fa-instagram"></i>  
            <i class="fab fa-linkedin"></i>  

        </div>

        <div class="f-info-brand"> &copy; WonderLust Private Limited</div>

        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>

</footer>